{
  "openapi": "3.1.0",
  "info": {
    "title": "Notion API",
    "version": "2.0.0",
    "description": "Notion API 2025-09-03 - Data Source Edition. Breaking change: Database endpoints replaced with data source endpoints.",
    "license": {
      "name": "MIT",
      "url": "https://github.com/makenotion/notion-sdk-js/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.notion.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "parameters": {
      "notionVersion": {
        "name": "Notion-Version",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "default": "2025-09-03"
        },
        "description": "The Notion API version"
      }
    },
    "schemas": {
      "richTextRequest": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "object",
            "required": [
              "content"
            ],
            "properties": {
              "content": {
                "type": "string"
              },
              "link": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ]
              }
            },
            "additionalProperties": false
          },
          "type": {
            "enum": [
              "text"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "pageIdParentRequest": {
        "type": "object",
        "properties": {
          "page_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "page_id"
        ]
      },
      "dataSourceIdParentRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "database_id"
          },
          "database_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "database_id"
        ]
      },
      "parentRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/pageIdParentRequest"
          },
          {
            "$ref": "#/components/schemas/dataSourceIdParentRequest"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "const": "workspace"
              }
            },
            "required": [
              "type"
            ]
          }
        ]
      },
      "movePageParentRequest": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "const": "page_id"
              },
              "page_id": {
                "type": "string",
                "format": "uuid"
              }
            },
            "required": [
              "type",
              "page_id"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "const": "database_id"
              },
              "database_id": {
                "type": "string",
                "format": "uuid"
              }
            },
            "required": [
              "type",
              "database_id"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "const": "workspace"
              }
            },
            "required": [
              "type"
            ]
          }
        ]
      },
      "sortObject": {
        "type": "object",
        "required": [
          "property",
          "direction"
        ],
        "properties": {
          "property": {
            "type": "string"
          },
          "direction": {
            "enum": [
              "ascending",
              "descending"
            ],
            "type": "string"
          }
        }
      },
      "paragraphBlockRequest": {
        "type": "object",
        "properties": {
          "paragraph": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "paragraph"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "bulletedListItemBlockRequest": {
        "type": "object",
        "properties": {
          "bulleted_list_item": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "bulleted_list_item"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "imageBlockRequest": {
        "description": "An image block. Use `external` for a publicly reachable URL, or `file_upload` for bytes uploaded via API-create-a-file-upload + API-send-a-file-upload.",
        "type": "object",
        "properties": {
          "image": {
            "type": "object",
            "properties": {
              "type": {
                "enum": [
                  "external",
                  "file_upload"
                ],
                "type": "string"
              },
              "external": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "Publicly reachable image URL. Notion fetches it, so it must not require authentication."
                  }
                },
                "required": [
                  "url"
                ],
                "additionalProperties": false
              },
              "file_upload": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The `id` from API-create-a-file-upload, after the bytes were sent with API-send-a-file-upload."
                  }
                },
                "required": [
                  "id"
                ],
                "additionalProperties": false
              },
              "caption": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false
          },
          "type": {
            "enum": [
              "image"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "fileBlockRequest": {
        "description": "A file attachment block (PDF, zip, ...). Same two sources as an image block.",
        "type": "object",
        "properties": {
          "file": {
            "type": "object",
            "properties": {
              "type": {
                "enum": [
                  "external",
                  "file_upload"
                ],
                "type": "string"
              },
              "external": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "Publicly reachable file URL."
                  }
                },
                "required": [
                  "url"
                ],
                "additionalProperties": false
              },
              "file_upload": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The `id` from API-create-a-file-upload, after the bytes were sent with API-send-a-file-upload."
                  }
                },
                "required": [
                  "id"
                ],
                "additionalProperties": false
              },
              "name": {
                "type": "string",
                "description": "Display name for the attachment."
              },
              "caption": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false
          },
          "type": {
            "enum": [
              "file"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "blockObjectRequest": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/paragraphBlockRequest"
          },
          {
            "$ref": "#/components/schemas/bulletedListItemBlockRequest"
          },
          {
            "$ref": "#/components/schemas/imageBlockRequest"
          },
          {
            "$ref": "#/components/schemas/fileBlockRequest"
          }
        ]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Databases",
      "description": "Database endpoints for retrieving database metadata"
    },
    {
      "name": "Data sources",
      "description": "Data source endpoints for querying and managing databases"
    },
    {
      "name": "Pages",
      "description": "Page endpoints for creating and managing pages"
    },
    {
      "name": "Blocks",
      "description": "Block endpoints for managing page content"
    },
    {
      "name": "Users",
      "description": "User endpoints"
    },
    {
      "name": "Search",
      "description": "Search endpoints"
    },
    {
      "name": "Comments",
      "description": "Comment endpoints"
    }
  ],
  "paths": {
    "/v1/file_uploads": {
      "post": {
        "summary": "Create a file upload",
        "description": "Step 1 of attaching a file to Notion. Reserves an upload and returns an `id`. Then call `API-send-a-file-upload` with that id to transfer the bytes, and finally reference it from a block or property as `{\"type\": \"file_upload\", \"file_upload\": {\"id\": \"<id>\"}}`. Single-part uploads are limited to 20MB. An upload must be attached within one hour or it expires.",
        "operationId": "create-a-file-upload",
        "parameters": [
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string",
                    "description": "Name of the file including its extension, e.g. 'screenshot.png'. Determines the name shown in Notion. Required when mode is 'external_url'."
                  },
                  "content_type": {
                    "type": "string",
                    "description": "MIME type, e.g. 'image/png'. Inferred from the filename when omitted."
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "single_part",
                      "multi_part",
                      "external_url"
                    ],
                    "description": "'single_part' (default, up to 20MB), 'multi_part' for larger files, or 'external_url' to have Notion import a publicly reachable file itself.",
                    "default": "single_part"
                  },
                  "external_url": {
                    "type": "string",
                    "description": "Only with mode 'external_url'. HTTPS URL of a publicly accessible file for Notion to import. The import is asynchronous: the upload starts as 'pending', so poll API-retrieve-a-file-upload until it reports 'uploaded' before attaching it."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/file_uploads/{file_upload_id}/send": {
      "post": {
        "summary": "Send a file upload",
        "description": "Step 2: transfer the bytes for an upload created by `API-create-a-file-upload`. Because this server runs remotely and shares no filesystem with the caller, the `file` parameter accepts a data: URI, a bare base64 string, or an http(s) URL the server can fetch — a local path only works when running over stdio.",
        "operationId": "send-a-file-upload",
        "parameters": [
          {
            "name": "file_upload_id",
            "in": "path",
            "description": "The `id` returned by API-create-a-file-upload.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File contents as a data: URI, a bare base64 string, or an http(s) URL to fetch."
                  },
                  "filename": {
                    "type": "string",
                    "description": "Optional name for the multipart part; defaults to the create step's filename."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/file_uploads/{file_upload_id}": {
      "get": {
        "summary": "Retrieve a file upload",
        "description": "Check the status of a file upload ('pending', 'uploaded', 'expired', 'failed').",
        "operationId": "retrieve-a-file-upload",
        "parameters": [
          {
            "name": "file_upload_id",
            "in": "path",
            "description": "Identifier for a file upload.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/{user_id}": {
      "get": {
        "summary": "Retrieve a user",
        "description": "",
        "operationId": "get-user",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {}
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/users": {
      "get": {
        "summary": "List all users",
        "operationId": "get-users",
        "parameters": [
          {
            "name": "start_cursor",
            "in": "query",
            "description": "If supplied, this endpoint will return a page of results starting after the cursor provided. If not supplied, this endpoint will return the first page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items from the full list desired in the response. Maximum: 100",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {}
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/users/me": {
      "get": {
        "summary": "Retrieve your token's bot user",
        "description": "",
        "operationId": "get-self",
        "parameters": [
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "object": "user",
                      "id": "16d84278-ab0e-484c-9bdd-b35da3bd8905",
                      "name": "pied piper",
                      "avatar_url": null,
                      "type": "bot",
                      "bot": {
                        "owner": {
                          "type": "user",
                          "user": {
                            "object": "user",
                            "id": "5389a034-eb5c-47b5-8a9e-f79c99ef166c",
                            "name": "christine makenotion",
                            "avatar_url": null,
                            "type": "person",
                            "person": {
                              "email": "christine@makenotion.com"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "user"
                    },
                    "id": {
                      "type": "string",
                      "example": "16d84278-ab0e-484c-9bdd-b35da3bd8905"
                    },
                    "name": {
                      "type": "string",
                      "example": "pied piper"
                    },
                    "avatar_url": {},
                    "type": {
                      "type": "string",
                      "example": "bot"
                    },
                    "bot": {
                      "type": "object",
                      "properties": {
                        "owner": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "user"
                            },
                            "user": {
                              "type": "object",
                              "properties": {
                                "object": {
                                  "type": "string",
                                  "example": "user"
                                },
                                "id": {
                                  "type": "string",
                                  "example": "5389a034-eb5c-47b5-8a9e-f79c99ef166c"
                                },
                                "name": {
                                  "type": "string",
                                  "example": "christine makenotion"
                                },
                                "avatar_url": {},
                                "type": {
                                  "type": "string",
                                  "example": "person"
                                },
                                "person": {
                                  "type": "object",
                                  "properties": {
                                    "email": {
                                      "type": "string",
                                      "example": "christine@makenotion.com"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/search": {
      "post": {
        "summary": "Search by title",
        "description": "",
        "operationId": "post-search",
        "parameters": [
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The text that the API compares page and database titles against."
                  },
                  "sort": {
                    "type": "object",
                    "description": "A set of criteria, `direction` and `timestamp` keys, that orders the results. The **only** supported timestamp value is `\"last_edited_time\"`. Supported `direction` values are `\"ascending\"` and `\"descending\"`. If `sort` is not provided, then the most recently edited results are returned first.",
                    "properties": {
                      "direction": {
                        "type": "string",
                        "description": "The direction to sort. Possible values include `ascending` and `descending`."
                      },
                      "timestamp": {
                        "type": "string",
                        "description": "The name of the timestamp to sort against. Possible values include `last_edited_time`."
                      }
                    }
                  },
                  "filter": {
                    "type": "object",
                    "description": "A set of criteria, `value` and `property` keys, that limits the results to either only pages or only data sources. Possible `value` values are `\"page\"` or `\"data_source\"`. The only supported `property` value is `\"object\"`.",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "The value of the property to filter the results by.  Possible values for object type include `page` or `data_source`.  **Limitation**: Currently the only filter allowed is `object` which will filter by type of object (either `page` or `data_source`)",
                        "enum": [
                          "page",
                          "data_source"
                        ]
                      },
                      "property": {
                        "type": "string",
                        "description": "The name of the property to filter by. Currently the only property you can filter by is the object type.  Possible values include `object`.   Limitation: Currently the only filter allowed is `object` which will filter by type of object (either `page` or `data_source`)"
                      }
                    }
                  },
                  "start_cursor": {
                    "type": "string",
                    "description": "A `cursor` value returned in a previous response that If supplied, limits the response to results starting after the `cursor`. If not supplied, then the first page of results is returned. Refer to [pagination](https://developers.notion.com/reference/intro#pagination) for more details."
                  },
                  "page_size": {
                    "type": "integer",
                    "description": "The number of items from the full list to include in the response. Maximum: `100`.",
                    "default": 100,
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/blocks/{block_id}/children": {
      "get": {
        "summary": "Retrieve block children",
        "description": "",
        "operationId": "get-block-children",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a [block](ref:block)",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "start_cursor",
            "in": "query",
            "description": "If supplied, this endpoint will return a page of results starting after the cursor provided. If not supplied, this endpoint will return the first page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items from the full list desired in the response. Maximum: 100",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "patch": {
        "summary": "Append block children",
        "description": "",
        "operationId": "patch-block-children",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a [block](ref:block). Also accepts a [page](ref:page) ID.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "children"
                ],
                "properties": {
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectRequest"
                    },
                    "description": "Child content to append to a container block as an array of [block objects](ref:block)"
                  },
                  "after": {
                    "type": "string",
                    "description": "The ID of the existing block that the new block should be appended after."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/blocks/{block_id}": {
      "get": {
        "summary": "Retrieve a block",
        "description": "",
        "operationId": "retrieve-a-block",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a Notion block",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "patch": {
        "summary": "Update a block",
        "description": "",
        "operationId": "update-a-block",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a Notion block",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "object",
                    "description": "The [block object `type`](ref:block#block-object-keys) value with the properties to be updated. Currently only `text` (for supported block types) and `checked` (for `to_do` blocks) fields can be updated.",
                    "properties": {}
                  },
                  "archived": {
                    "type": "boolean",
                    "description": "Set to true to archive (delete) a block. Set to false to un-archive (restore) a block.",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "delete": {
        "summary": "Delete a block",
        "description": "",
        "operationId": "delete-a-block",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a Notion block",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/pages/{page_id}": {
      "get": {
        "summary": "Retrieve a page",
        "description": "",
        "operationId": "retrieve-a-page",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "description": "Identifier for a Notion page",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "filter_properties",
            "in": "query",
            "description": "A list of page property value IDs associated with the page. Use this param to limit the response to a specific page property value or values. To retrieve multiple properties, specify each page property ID. For example: `?filter_properties=iAk8&filter_properties=b7dh`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "patch": {
        "summary": "Update page properties",
        "description": "",
        "operationId": "patch-page",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "description": "The identifier for the Notion page to be updated.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "properties": {
                    "description": "The property values to update for the page. The keys are the names or IDs of the property and the values are property values. If a page property ID is not included, then it is not changed.",
                    "type": "object",
                    "additionalProperties": true
                  },
                  "in_trash": {
                    "type": "boolean",
                    "description": "Set to true to delete a block. Set to false to restore a block.",
                    "default": false
                  },
                  "archived": {
                    "type": "boolean"
                  },
                  "icon": {
                    "description": "A page icon for the page. Supported types are [external file object](https://developers.notion.com/reference/file-object) or [emoji object](https://developers.notion.com/reference/emoji-object).",
                    "type": "object",
                    "properties": {
                      "emoji": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "emoji"
                    ]
                  },
                  "cover": {
                    "type": "object",
                    "description": "A cover image for the page. Only [external file objects](https://developers.notion.com/reference/file-object) are supported.",
                    "properties": {
                      "external": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "url"
                        ]
                      },
                      "type": {
                        "enum": [
                          "external"
                        ],
                        "type": "string"
                      }
                    },
                    "required": [
                      "external"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/pages": {
      "post": {
        "summary": "Create a page",
        "description": "",
        "operationId": "post-page",
        "parameters": [
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "parent",
                  "properties"
                ],
                "properties": {
                  "parent": {
                    "$ref": "#/components/schemas/parentRequest"
                  },
                  "properties": {
                    "description": "The property values for the new page. The keys are the names or IDs of the property and the values are property values.",
                    "type": "object",
                    "additionalProperties": true
                  },
                  "children": {
                    "type": "array",
                    "description": "The content to be rendered on the new page, represented as an array of [block objects](https://developers.notion.com/reference/block). Cannot be combined with `markdown`.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "markdown": {
                    "type": "string",
                    "description": "The whole page body as Notion-flavoured Markdown, written while the page is created — no follow-up append call. Mutually exclusive with `children`."
                  },
                  "icon": {
                    "type": "string",
                    "description": "The icon of the new page. Either an [emoji object](https://developers.notion.com/reference/emoji-object) or an [external file object](https://developers.notion.com/reference/file-object)..",
                    "format": "json"
                  },
                  "cover": {
                    "type": "string",
                    "description": "The cover image of the new page, represented as a [file object](https://developers.notion.com/reference/file-object).",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/pages/{page_id}/properties/{property_id}": {
      "get": {
        "summary": "Retrieve a page property item",
        "description": "",
        "operationId": "retrieve-a-page-property",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "description": "Identifier for a Notion page",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "property_id",
            "in": "path",
            "description": "Identifier for a page [property](https://developers.notion.com/reference/page#all-property-values)",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "For paginated properties. The max number of property item objects on a page. The default size is 100",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "start_cursor",
            "in": "query",
            "description": "For paginated properties.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/comments": {
      "get": {
        "summary": "Retrieve comments",
        "description": "Retrieves a list of un-resolved [Comment objects](ref:comment-object) from a page or block.",
        "operationId": "retrieve-a-comment",
        "parameters": [
          {
            "name": "block_id",
            "in": "query",
            "description": "Identifier for a Notion block or page",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_cursor",
            "in": "query",
            "description": "If supplied, this endpoint will return a page of results starting after the cursor provided. If not supplied, this endpoint will return the first page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items from the full list desired in the response. Maximum: 100",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": {
                      "object": "list",
                      "results": [
                        {
                          "object": "comment",
                          "id": "94cc56ab-9f02-409d-9f99-1037e9fe502f",
                          "parent": {
                            "type": "page_id",
                            "page_id": "5c6a2821-6bb1-4a7e-b6e1-c50111515c3d"
                          },
                          "discussion_id": "f1407351-36f5-4c49-a13c-49f8ba11776d",
                          "created_time": "2022-07-15T16:52:00.000Z",
                          "last_edited_time": "2022-07-15T19:16:00.000Z",
                          "created_by": {
                            "object": "user",
                            "id": "9b15170a-9941-4297-8ee6-83fa7649a87a"
                          },
                          "rich_text": [
                            {
                              "type": "text",
                              "text": {
                                "content": "Single comment",
                                "link": null
                              },
                              "annotations": {
                                "bold": false,
                                "italic": false,
                                "strikethrough": false,
                                "underline": false,
                                "code": false,
                                "color": "default"
                              },
                              "plain_text": "Single comment",
                              "href": null
                            }
                          ]
                        }
                      ],
                      "next_cursor": null,
                      "has_more": false,
                      "type": "comment",
                      "comment": {}
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "post": {
        "summary": "Create comment",
        "description": "Creates a comment in a page or existing discussion thread.",
        "operationId": "create-a-comment",
        "parameters": [
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "rich_text"
                ],
                "properties": {
                  "parent": {
                    "description": "What the comment is attached to: a page or a single block. Omit when replying into an existing thread with `discussion_id`.",
                    "oneOf": [
                      {
                        "type": "object",
                        "description": "Comment on a page.",
                        "required": [
                          "page_id"
                        ],
                        "properties": {
                          "page_id": {
                            "type": "string",
                            "description": "the page ID"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "description": "Comment anchored to one block, e.g. a paragraph, heading or to-do item.",
                        "required": [
                          "block_id"
                        ],
                        "properties": {
                          "block_id": {
                            "type": "string",
                            "description": "the block ID the comment is attached to"
                          }
                        }
                      }
                    ]
                  },
                  "discussion_id": {
                    "type": "string",
                    "description": "Reply into an existing discussion thread instead of starting a new one. Take it from the `discussion_id` of a comment returned by API-retrieve-a-comment. Cannot be combined with `parent`."
                  },
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "text"
                      ],
                      "properties": {
                        "text": {
                          "type": "object",
                          "required": [
                            "content"
                          ],
                          "properties": {
                            "content": {
                              "type": "string",
                              "description": "The content of the comment"
                            }
                          }
                        }
                      }
                    }
                  },
                  "attachments": {
                    "type": "array",
                    "description": "Files to attach to the comment, e.g. a screenshot. Upload the bytes first with API-create-a-file-upload + API-send-a-file-upload, then reference the upload id here. Maximum 3.",
                    "maxItems": 3,
                    "items": {
                      "type": "object",
                      "required": [
                        "file_upload_id"
                      ],
                      "properties": {
                        "file_upload_id": {
                          "type": "string",
                          "description": "The `id` from API-create-a-file-upload, after the bytes were sent with API-send-a-file-upload."
                        },
                        "type": {
                          "enum": [
                            "file_upload"
                          ],
                          "type": "string",
                          "description": "Always `file_upload`; may be omitted."
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "display_name": {
                    "type": "object",
                    "description": "Who the comment is signed as. Omitted, it is signed with the integration's own name - the same name for everyone sharing this token, so on a busy page every author looks alike. Pass `{\"type\": \"custom\", \"custom\": {\"name\": \"...\"}}` to sign it with the individual agent or person posting instead. Applies to this comment only; it sets no default for later ones.",
                    "required": [
                      "type"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "custom",
                          "user",
                          "integration",
                          "connection"
                        ],
                        "description": "`custom` shows the name given in `custom.name` - the only value that carries a name of your choosing, and the one to use for signing as an agent. `user` shows the person who authorised the token. `integration` and `connection` are two names for the same thing, the integration itself, which is also what you get by omitting `display_name` entirely."
                      },
                      "custom": {
                        "type": "object",
                        "description": "The name to sign with. Required when `type` is `custom`, and meaningless otherwise.",
                        "required": [
                          "name"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The label shown as the comment's author, e.g. the name of the agent posting. Free text - it is not resolved against Notion users, and confers no identity or permission."
                          }
                        },
                        "additionalProperties": false
                      }
                    },
                    "additionalProperties": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "object": "comment",
                      "id": "b52b8ed6-e029-4707-a671-832549c09de3",
                      "parent": {
                        "type": "page_id",
                        "page_id": "5c6a2821-6bb1-4a7e-b6e1-c50111515c3d"
                      },
                      "discussion_id": "f1407351-36f5-4c49-a13c-49f8ba11776d",
                      "created_time": "2022-07-15T20:53:00.000Z",
                      "last_edited_time": "2022-07-15T20:53:00.000Z",
                      "created_by": {
                        "object": "user",
                        "id": "067dee40-6ebd-496f-b446-093c715fb5ec"
                      },
                      "rich_text": [
                        {
                          "type": "text",
                          "text": {
                            "content": "Hello world",
                            "link": null
                          },
                          "annotations": {
                            "bold": false,
                            "italic": false,
                            "strikethrough": false,
                            "underline": false,
                            "code": false,
                            "color": "default"
                          },
                          "plain_text": "Hello world",
                          "href": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/comments/{comment_id}": {
      "delete": {
        "summary": "Delete a comment permanently. This cannot be undone — a deleted comment is gone for good, with no trash to restore it from. Deletes exactly one comment, named by its id.",
        "description": "",
        "operationId": "delete-a-comment",
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "description": "The id of the one comment to delete. Take it from the `id` of a comment returned by API-retrieve-a-comment — not its `discussion_id`, which names the whole thread and cannot be deleted in one call. Deletion is permanent and irreversible: there is no undo and no way to read the comment back afterwards, so confirm the id is the intended comment before calling. Only comments this integration itself created can be deleted; someone else's comment answers 404.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the integration lacks the insert-comment capability",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found — no such comment, or it was created by someone else",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/data_sources/{data_source_id}/query": {
      "post": {
        "summary": "Query a data source",
        "description": "Query a data source (database) using filters and sorts",
        "operationId": "query-data-source",
        "tags": [
          "Data sources"
        ],
        "parameters": [
          {
            "name": "data_source_id",
            "in": "path",
            "description": "Identifier for a Notion data source (database)",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "filter_properties",
            "in": "query",
            "description": "A list of page property value IDs to limit the response",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "object",
                    "description": "Filter conditions for querying the data source"
                  },
                  "sorts": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/sortObject"
                    }
                  },
                  "start_cursor": {
                    "type": "string"
                  },
                  "page_size": {
                    "type": "integer",
                    "default": 100
                  },
                  "archived": {
                    "type": "boolean"
                  },
                  "in_trash": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/data_sources/{data_source_id}": {
      "get": {
        "summary": "Retrieve a data source",
        "description": "Retrieve metadata and schema for a data source",
        "operationId": "retrieve-a-data-source",
        "tags": [
          "Data sources"
        ],
        "parameters": [
          {
            "name": "data_source_id",
            "in": "path",
            "description": "Identifier for a Notion data source",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "patch": {
        "summary": "Update a data source",
        "description": "Update properties of a data source",
        "operationId": "update-a-data-source",
        "tags": [
          "Data sources"
        ],
        "parameters": [
          {
            "name": "data_source_id",
            "in": "path",
            "description": "Identifier for a Notion data source",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextRequest"
                    }
                  },
                  "description": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextRequest"
                    },
                    "maxItems": 100
                  },
                  "properties": {
                    "type": "object",
                    "description": "Property schema updates"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/data_sources": {
      "post": {
        "summary": "Create a data source",
        "description": "Create a new data source (database)",
        "operationId": "create-a-data-source",
        "tags": [
          "Data sources"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "parent",
                  "properties"
                ],
                "properties": {
                  "parent": {
                    "$ref": "#/components/schemas/pageIdParentRequest"
                  },
                  "properties": {
                    "type": "object",
                    "description": "Property schema of data source"
                  },
                  "title": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextRequest"
                    },
                    "maxItems": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/data_sources/{data_source_id}/templates": {
      "get": {
        "summary": "List templates in a data source",
        "description": "List available templates for a data source",
        "operationId": "list-data-source-templates",
        "tags": [
          "Data sources"
        ],
        "parameters": [
          {
            "name": "data_source_id",
            "in": "path",
            "description": "Identifier for a Notion data source",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "start_cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/databases/{database_id}": {
      "get": {
        "summary": "Retrieve a database",
        "description": "Retrieves a database object using the ID specified. Returns database metadata including the list of data source IDs contained in the database.",
        "operationId": "retrieve-a-database",
        "tags": [
          "Databases"
        ],
        "parameters": [
          {
            "name": "database_id",
            "in": "path",
            "description": "Identifier for a Notion database",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/pages/{page_id}/move": {
      "post": {
        "summary": "Move a page",
        "description": "Move a page to a different parent location",
        "operationId": "move-page",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "description": "Identifier for a Notion page",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "parent"
                ],
                "properties": {
                  "parent": {
                    "$ref": "#/components/schemas/movePageParentRequest"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/pages/{page_id}/markdown": {
      "get": {
        "summary": "Retrieve a page as Markdown",
        "description": "Retrieve the full content of a Notion page rendered as enhanced Markdown. Designed for agentic and developer tools that work natively with Markdown instead of the block JSON returned by Retrieve block children.",
        "operationId": "retrieve-page-markdown",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Identifier for a Notion page (or block) to read or update as markdown."
          },
          {
            "name": "include_transcript",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to include meeting note transcripts. When false (default), a placeholder with the meeting note URL is shown instead of the full transcript."
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-03-11"
            },
            "description": "The Notion API version. The page-markdown endpoints require 2026-03-11 or later."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "page_markdown"
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the page or block."
                    },
                    "markdown": {
                      "type": "string",
                      "description": "Page content rendered as enhanced Markdown."
                    },
                    "truncated": {
                      "type": "boolean",
                      "description": "True if content was truncated because the page exceeds the block limit."
                    },
                    "unknown_block_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "description": "Block IDs that could not be rendered (e.g. due to permissions or truncation). Pass them back to this endpoint to fetch them individually."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The integration lacks the read/update content capability required for this page.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Page not found or not shared with the integration.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 429
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "patch": {
        "summary": "Update a page's content as Markdown",
        "description": "Update the content of a Notion page using enhanced Markdown. Prefer `replace_content` to overwrite the whole page or `update_content` for targeted find-and-replace edits.",
        "operationId": "update-page-markdown",
        "tags": [
          "Pages"
        ],
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Identifier for a Notion page (or block) to read or update as markdown."
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-03-11"
            },
            "description": "The Notion API version. The page-markdown endpoints require 2026-03-11 or later."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type"
                ],
                "description": "Specify exactly one edit operation. Set `type` to the operation name and provide the matching object.",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "replace_content",
                      "update_content",
                      "insert_content",
                      "replace_content_range"
                    ],
                    "description": "The kind of edit to apply. Prefer `replace_content` (overwrite the whole page) or `update_content` (targeted find-and-replace). `insert_content` and `replace_content_range` are deprecated."
                  },
                  "replace_content": {
                    "type": "object",
                    "required": [
                      "new_str"
                    ],
                    "description": "Provide when type is `replace_content`. Replaces the entire page content.",
                    "properties": {
                      "new_str": {
                        "type": "string",
                        "description": "The complete new page content as enhanced Markdown."
                      },
                      "allow_deleting_content": {
                        "type": "boolean",
                        "description": "Permit deletion of existing child pages/databases that are no longer present in the new content."
                      }
                    }
                  },
                  "update_content": {
                    "type": "object",
                    "required": [
                      "content_updates"
                    ],
                    "description": "Provide when type is `update_content`. Applies targeted find-and-replace edits.",
                    "properties": {
                      "content_updates": {
                        "type": "array",
                        "maxItems": 100,
                        "description": "Up to 100 find-and-replace edits applied in order.",
                        "items": {
                          "type": "object",
                          "required": [
                            "old_str",
                            "new_str"
                          ],
                          "properties": {
                            "old_str": {
                              "type": "string",
                              "description": "Exact existing Markdown text to find."
                            },
                            "new_str": {
                              "type": "string",
                              "description": "Replacement Markdown text."
                            },
                            "replace_all_matches": {
                              "type": "boolean",
                              "description": "Replace every occurrence of old_str instead of just the first (default false)."
                            }
                          }
                        }
                      },
                      "allow_deleting_content": {
                        "type": "boolean",
                        "description": "Permit deletion of existing child pages/databases removed by the edits."
                      }
                    }
                  },
                  "insert_content": {
                    "type": "object",
                    "deprecated": true,
                    "required": [
                      "content"
                    ],
                    "description": "Deprecated. Provide when type is `insert_content`. Inserts Markdown at a position.",
                    "properties": {
                      "content": {
                        "type": "string",
                        "description": "Enhanced Markdown to insert."
                      },
                      "after": {
                        "type": "string",
                        "description": "Ellipsis-format selection (\"start text...end text\") to insert after. Cannot be combined with position."
                      },
                      "position": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "start",
                              "end"
                            ]
                          }
                        },
                        "description": "Insert at the start or end of the page. Cannot be combined with after."
                      }
                    }
                  },
                  "replace_content_range": {
                    "type": "object",
                    "deprecated": true,
                    "required": [
                      "content",
                      "content_range"
                    ],
                    "description": "Deprecated. Provide when type is `replace_content_range`. Replaces a selected range of Markdown.",
                    "properties": {
                      "content": {
                        "type": "string",
                        "description": "New Markdown content for the range."
                      },
                      "content_range": {
                        "type": "string",
                        "description": "Ellipsis-format selection (\"start text...end text\") identifying the range to replace."
                      },
                      "allow_deleting_content": {
                        "type": "boolean",
                        "description": "Permit deletion of child pages/databases within the replaced range."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "page_markdown"
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the page or block."
                    },
                    "markdown": {
                      "type": "string",
                      "description": "Page content rendered as enhanced Markdown."
                    },
                    "truncated": {
                      "type": "boolean",
                      "description": "True if content was truncated because the page exceeds the block limit."
                    },
                    "unknown_block_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "description": "Block IDs that could not be rendered (e.g. due to permissions or truncation). Pass them back to this endpoint to fetch them individually."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
[...]
