{
  "openapi": "3.1.0",
  "info": {
    "title": "Notion API",
    "version": "2.0.0",
    "description": "Notion API 2025-09-03 - Data Source Edition. Breaking change: Database endpoints replaced with data source endpoints.",
    "license": {
      "name": "MIT",
      "url": "https://github.com/makenotion/notion-sdk-js/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.notion.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "parameters": {
      "notionVersion": {
        "name": "Notion-Version",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "default": "2025-09-03"
        },
        "description": "The Notion API version"
      }
    },
    "schemas": {
      "pageObjectResponse": {
        "type": "object",
        "description": "A page object.",
        "properties": {
          "object": { "type": "string", "description": "Always `page`." },
          "id": { "type": "string", "description": "The page's UUID. Pass it to API-retrieve-a-page, API-patch-page, or as a `block_id` to API-get-block-children." },
          "created_time": { "type": "string", "format": "date-time" },
          "last_edited_time": { "type": "string", "format": "date-time" },
          "created_by": { "type": "object", "description": "Partial user: `object` and `id` only." },
          "last_edited_by": { "type": "object", "description": "Partial user: `object` and `id` only." },
          "cover": { "type": "object", "description": "File object, or null." },
          "icon": { "type": "object", "description": "Emoji or file object, or null." },
          "parent": { "type": "object", "description": "One of `{type: \"data_source_id\", data_source_id}`, `{type: \"page_id\", page_id}`, `{type: \"block_id\", block_id}` or `{type: \"workspace\", workspace: true}`." },
          "properties": { "type": "object", "description": "Property values keyed by property name. Each value carries `id`, `type`, and the value itself under a key named by that type — so a select reads `{\"type\": \"select\", \"select\": {\"name\": ...}}`. A page outside a data source has only `title`." },
          "url": { "type": "string" },
          "public_url": { "type": "string", "description": "Public share URL, or null when the page is not shared." },
          "archived": { "type": "boolean" },
          "is_archived": { "type": "boolean", "description": "Same state as `archived`, under the newer name." },
          "in_trash": { "type": "boolean" },
          "is_locked": { "type": "boolean" },
          "request_id": { "type": "string", "description": "Notion's id for this request. Quote it when reporting a problem to Notion." }
        }
      },
      "blockObjectResponse": {
        "type": "object",
        "description": "A block object. Its content sits under a key named by its own `type` — a paragraph carries `paragraph`, a heading `heading_1`.",
        "properties": {
          "object": { "type": "string", "description": "Always `block`." },
          "id": { "type": "string" },
          "parent": { "type": "object", "description": "The page or block this one sits in." },
          "type": { "type": "string", "description": "The block type (`paragraph`, `heading_1`, `to_do`, `image`, `child_page`, ...), and also the name of the key holding this block's content." },
          "has_children": { "type": "boolean", "description": "True when the block contains child blocks; fetch them with API-get-block-children on this block's `id`." },
          "created_time": { "type": "string", "format": "date-time" },
          "last_edited_time": { "type": "string", "format": "date-time" },
          "created_by": { "type": "object", "description": "Partial user: `object` and `id` only." },
          "last_edited_by": { "type": "object", "description": "Partial user: `object` and `id` only." },
          "archived": { "type": "boolean" },
          "in_trash": { "type": "boolean" },
          "request_id": { "type": "string" }
        }
      },
      "paginatedListResponse": {
        "type": "object",
        "description": "A paginated list. While `has_more` is true, pass `next_cursor` back as `start_cursor` to get the following page.",
        "properties": {
          "object": { "type": "string", "description": "Always `list`." },
          "results": { "type": "array", "items": { "type": "object" }, "description": "The items. Which object type they are follows `type` — page, block, data source, database, user or comment objects." },
          "next_cursor": { "type": "string", "description": "Cursor for the next page, or null on the last one." },
          "has_more": { "type": "boolean" },
          "type": { "type": "string", "description": "What `results` holds, e.g. `block`, `comment`, `user`, `page_or_data_source`. A key of that same name is also present, and is always an empty object." },
          "request_id": { "type": "string" }
        }
      },
      "dataSourceObjectResponse": {
        "type": "object",
        "description": "A data source object — the column schema behind a database. Rows are pages; query them with API-query-data-source.",
        "properties": {
          "object": { "type": "string", "description": "Always `data_source`." },
          "id": { "type": "string", "description": "The `data_source_id` to query or update." },
          "title": { "type": "array", "items": { "type": "object" }, "description": "Rich text runs of the name." },
          "description": { "type": "array", "items": { "type": "object" }, "description": "Rich text runs." },
          "properties": { "type": "object", "description": "The column schema keyed by property name; each entry carries `id`, `name`, `type` and that type's own configuration, e.g. `select.options`. Read it before writing a page property — a select only accepts an option that already exists here." },
          "parent": { "type": "object", "description": "`{type: \"database_id\", database_id}` — the database this data source belongs to." },
          "database_parent": { "type": "object", "description": "Where that database itself lives, e.g. `{type: \"page_id\", page_id}`." },
          "created_time": { "type": "string", "format": "date-time" },
          "last_edited_time": { "type": "string", "format": "date-time" },
          "created_by": { "type": "object" },
          "last_edited_by": { "type": "object" },
          "icon": { "type": "object" },
          "cover": { "type": "object" },
          "is_inline": { "type": "boolean" },
          "url": { "type": "string" },
          "public_url": { "type": "string" },
          "archived": { "type": "boolean" },
          "in_trash": { "type": "boolean" },
          "request_id": { "type": "string" }
        }
      },
      "databaseObjectResponse": {
        "type": "object",
        "description": "A database object. It holds presentation and the list of data sources; the columns live on the data source, not here.",
        "properties": {
          "object": { "type": "string", "description": "Always `database`." },
          "id": { "type": "string" },
          "title": { "type": "array", "items": { "type": "object" }, "description": "Rich text runs." },
          "description": { "type": "array", "items": { "type": "object" }, "description": "Rich text runs." },
          "data_sources": { "type": "array", "items": { "type": "object" }, "description": "The database's data sources as `{id, name}`. Take an `id` from here and call API-retrieve-a-data-source or API-query-data-source with it — the database id itself cannot be queried for rows." },
          "parent": { "type": "object" },
          "created_time": { "type": "string", "format": "date-time" },
          "last_edited_time": { "type": "string", "format": "date-time" },
          "icon": { "type": "object" },
          "cover": { "type": "object" },
          "is_inline": { "type": "boolean" },
          "is_locked": { "type": "boolean" },
          "url": { "type": "string" },
          "public_url": { "type": "string" },
          "archived": { "type": "boolean" },
          "in_trash": { "type": "boolean" },
          "request_id": { "type": "string" }
        }
      },
      "fileUploadObjectResponse": {
        "type": "object",
        "description": "A file upload object. It is `pending` until the bytes arrive and `uploaded` afterwards, and it expires at `expiry_time` (one hour) unless it is attached to a block, page property or comment before then.",
        "properties": {
          "object": { "type": "string", "description": "Always `file_upload`." },
          "id": { "type": "string", "description": "The upload id — send the bytes to it with API-send-a-file-upload, then reference it as `{\"type\": \"file_upload\", \"file_upload\": {\"id\": \"<id>\"}}`." },
          "status": { "type": "string", "description": "`pending` until the bytes arrive, then `uploaded`; also `expired` or `failed`." },
          "filename": { "type": "string" },
          "content_type": { "type": "string" },
          "content_length": { "type": "integer", "description": "How many bytes Notion stored — null while pending. Compare it with the source file's size: a smaller number means the payload was cut short on the way in." },
          "upload_url": { "type": "string", "description": "Where the bytes go. Present while the upload is pending." },
          "expiry_time": { "type": "string", "format": "date-time", "description": "When an unattached upload is discarded." },
          "created_time": { "type": "string", "format": "date-time" },
          "last_edited_time": { "type": "string", "format": "date-time" },
          "created_by": { "type": "object" },
          "archived": { "type": "boolean" },
          "in_trash": { "type": "boolean" },
          "request_id": { "type": "string" }
        }
      },
      "viewSortRequest": {
        "type": "object",
        "description": "One sort rule applied to the view's rows. Same shape as a data source query sort.",
        "required": ["property"],
        "properties": {
          "property": {
            "type": "string",
            "description": "Name or ID of the property to sort by."
          },
          "direction": {
            "type": "string",
            "enum": ["ascending", "descending"],
            "description": "Sort direction. Defaults to ascending."
          }
        }
      },
      "viewFilterRequest": {
        "type": "object",
        "additionalProperties": true,
        "description": "Filter applied to the view, using exactly the same shape as a data source query filter: either a single property condition (`{\"property\": \"Status\", \"status\": {\"equals\": \"Done\"}}`) or a compound `{\"and\": [...]}` / `{\"or\": [...]}`. Notion validates each value against the property's configured options, and for status properties it also accepts group names, so an invalid value comes back as a descriptive error listing what is available. Send `null` on update to clear the filter entirely."
      },
      "viewGroupSortRequest": {
        "type": "object",
        "description": "Order the groups themselves are listed in — distinct from `sorts`, which orders rows inside a group.",
        "required": ["type"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["manual", "ascending", "descending"],
            "description": "`manual` keeps the order the options are defined in (for a status or select property this is the order shown in the Notion UI), which is usually what you want for a workflow board."
          }
        }
      },
      "viewGroupByRequest": {
        "type": "object",
        "description": "How rows or cards are grouped — board columns, or sections in a table. Which extra fields apply is decided by `type`, which must match the grouped property's own type. `select`, `multi_select`, `person`, `created_by`, `last_edited_by`, `relation` and `checkbox` take no extra field. `status` requires `group_by`: `group` (To-do / In progress / Complete) or `option` (one column per individual option). `date`, `created_time` and `last_edited_time` require `group_by` (`relative` | `day` | `week` | `month` | `year`) and may set `start_day_of_week`. `text`, `title`, `url`, `email` and `phone_number` require `group_by`: `exact` or `alphabet_prefix`. `number` may set `range_start` / `range_end` / `range_size` to bucket values. `formula` requires `group_by` to be a nested object describing the formula's result type (`{\"type\": \"number\", \"sort\": {...}, \"range_size\": 10}`) without a `property_id` of its own.",
        "required": ["type", "property_id", "sort"],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "select", "multi_select", "status", "person", "created_by", "last_edited_by",
              "relation", "date", "created_time", "last_edited_time", "text", "title", "url",
              "email", "phone_number", "number", "checkbox", "formula"
            ],
            "description": "The type of the property being grouped by."
          },
          "property_id": {
            "type": "string",
            "description": "ID of the property to group by. A property name is also accepted and resolved to its ID."
          },
          "sort": {
            "$ref": "#/components/schemas/viewGroupSortRequest"
          },
          "hide_empty_groups": {
            "type": "boolean",
            "description": "Whether groups with no items are hidden. Notion defaults this to `true` when grouping is (re)applied, which silently hides a column such as an empty `Open` status — set it explicitly to `false` to keep every group visible so a card can still be dragged into an empty one."
          },
          "group_by": {
            "description": "Required for `status`, `date`/`created_time`/`last_edited_time`, text-like and `formula` types; see this schema's description for the value each one takes. A string for every type except `formula`, which takes a nested group-by object.",
            "anyOf": [
              {
                "type": "string",
                "enum": ["group", "option", "relative", "day", "week", "month", "year", "exact", "alphabet_prefix"]
              },
              {
                "type": "object",
                "additionalProperties": true,
                "description": "Formula-only nested grouping: `type` is the formula's result type (`date`, `text`, `number` or `checkbox`) plus that type's own fields and a `sort`. It carries no `property_id` — that is inherited from the parent."
              }
            ]
          },
          "start_day_of_week": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Which day a week starts on when grouping dates by week: 0 = Sunday, 1 = Monday."
          },
          "range_start": {
            "type": "number",
            "description": "Number grouping only: lower bound of the first bucket."
          },
          "range_end": {
            "type": "number",
            "description": "Number grouping only: upper bound of the last bucket."
          },
          "range_size": {
            "type": "number",
            "minimum": 1,
            "description": "Number grouping only: width of each bucket."
          }
        }
      },
      "viewPropertyConfigRequest": {
        "type": "object",
        "description": "Visibility and display of a single property in this view. The order of the entries in the `properties` array is the order the columns or card fields appear in, so reordering the array reorders the view.",
        "required": ["property_id"],
        "properties": {
          "property_id": {
            "type": "string",
            "description": "The property's ID, or its name — a name is resolved to the matching ID. If a string matches both one property's ID and a different property's name, the ID wins."
          },
          "visible": {
            "type": "boolean",
            "description": "Whether the property is shown in this view."
          },
          "width": {
            "type": "integer",
            "minimum": 0,
            "description": "Column width in pixels. Table views only."
          },
          "wrap": {
            "type": "boolean",
            "description": "Whether the value wraps onto multiple lines in its cell or card."
          },
          "status_show_as": {
            "type": "string",
            "enum": ["select", "checkbox"],
            "description": "How a status property is rendered."
          },
          "card_property_width_mode": {
            "type": "string",
            "enum": ["full_line", "inline"],
            "description": "Width behaviour of this property on compact board or gallery cards."
          },
          "date_format": {
            "type": "string",
            "enum": ["full", "short", "month_day_year", "day_month_year", "year_month_day", "relative"],
            "description": "Display format for a date property."
          },
          "time_format": {
            "type": "string",
            "enum": ["12_hour", "24_hour", "hidden"],
            "description": "Time display format for a date property."
          }
        }
      },
      "viewPropertiesRequest": {
        "type": "array",
        "description": "Which properties are visible and in what order. Array order is display order.",
        "items": {
          "$ref": "#/components/schemas/viewPropertyConfigRequest"
        }
      },
      "viewCoverRequest": {
        "type": "object",
        "description": "Where the image at the top of each board or gallery card comes from.",
        "required": ["type"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["page_cover", "page_content", "property"],
            "description": "`page_cover` uses the page's own cover, `page_content` the first image in the page body, `property` an image held in a file property named by `property_id`."
          },
          "property_id": {
            "type": "string",
            "description": "File property to take the image from. Only meaningful when `type` is `property`."
          }
        }
      },
      "viewSubtaskConfigRequest": {
        "type": "object",
        "description": "How parent/child rows nest in a table view, via a self-referencing relation property.",
        "properties": {
          "property_id": {
            "type": "string",
            "description": "The self-referencing relation property that establishes the hierarchy."
          },
          "display_mode": {
            "type": "string",
            "enum": ["show", "hidden", "flattened", "disabled"],
            "description": "`show` nests with toggles, `hidden` shows parents with a count, `flattened` lists sub-items with a parent indicator, `disabled` turns sub-item rendering off."
          },
          "filter_scope": {
            "type": "string",
            "enum": ["parents", "parents_and_subitems", "subitems"],
            "description": "Which rows the view's filter is applied to."
          },
          "toggle_column_id": {
            "type": "string",
            "description": "Property whose column carries the expand/collapse toggle."
          }
        }
      },
      "viewChartAggregationRequest": {
        "type": "object",
        "description": "How values are aggregated for a chart axis or a number chart.",
        "required": ["aggregator"],
        "properties": {
          "aggregator": {
            "type": "string",
            "enum": [
              "count", "count_values", "sum", "average", "median", "min", "max", "range", "unique",
              "empty", "not_empty", "percent_empty", "percent_not_empty", "checked", "unchecked",
              "percent_checked", "percent_unchecked", "earliest_date", "latest_date", "date_range"
            ],
            "description": "`count` counts rows and needs no `property_id`; every other operator requires one."
          },
          "property_id": {
            "type": "string",
            "description": "Property to aggregate. Required for every aggregator except `count`."
          }
        }
      },
      "viewConfigurationRequest": {
        "description": "Layout settings for the view. This is a union discriminated on `type`, and that `type` must equal the view's own `type`. When updating, send only the fields you want changed — anything omitted is left alone, and a nullable field set to `null` is cleared.",
        "oneOf": [
          {
            "type": "object",
            "title": "Table",
            "required": ["type"],
            "properties": {
              "type": { "type": "string", "enum": ["table"] },
              "properties": { "$ref": "#/components/schemas/viewPropertiesRequest" },
              "group_by": {
                "description": "Optional row grouping. `null` removes it.",
                "oneOf": [
                  { "$ref": "#/components/schemas/viewGroupByRequest" },
                  { "type": "null" }
                ]
              },
              "subtasks": {
                "description": "Sub-item display. `null` resets to defaults; use `{\"display_mode\": \"disabled\"}` to actually switch it off.",
                "oneOf": [
                  { "$ref": "#/components/schemas/viewSubtaskConfigRequest" },
                  { "type": "null" }
                ]
              },
              "wrap_cells": { "type": "boolean", "description": "Whether cell content wraps." },
              "frozen_column_index": { "type": "integer", "minimum": 0, "description": "How many columns stay pinned on the left when scrolling." },
              "show_vertical_lines": { "type": "boolean", "description": "Whether vertical grid lines are drawn between columns." }
            }
          },
          {
            "type": "object",
            "title": "Board",
            "required": ["type"],
            "properties": {
              "type": { "type": "string", "enum": ["board"] },
              "group_by": {
                "description": "What the board's columns are. Required for a board view — a board cannot exist without grouping.",
                "$ref": "#/components/schemas/viewGroupByRequest"
              },
              "sub_group_by": {
                "description": "Optional second level of grouping within each column. `null` removes it.",
                "oneOf": [
                  { "$ref": "#/components/schemas/viewGroupByRequest" },
                  { "type": "null" }
                ]
              },
              "properties": { "$ref": "#/components/schemas/viewPropertiesRequest" },
              "cover": {
                "oneOf": [
                  { "$ref": "#/components/schemas/viewCoverRequest" },
                  { "type": "null" }
                ]
              },
              "cover_size": {
                "type": ["string", "null"],
                "enum": ["small", "medium", "large", null],
                "description": "Card size — how large the cover image is on each card."
              },
              "cover_aspect": {
                "type": ["string", "null"],
                "enum": ["contain", "cover", null],
                "description": "`contain` fits the whole image, `cover` fills the card area and crops."
              },
              "card_layout": {
                "type": ["string", "null"],
                "enum": ["list", "compact", null],
                "description": "`list` shows full cards, `compact` is the condensed card layout."
              }
            }
          },
          {
            "type": "object",
            "title": "Gallery",
            "required": ["type"],
            "properties": {
              "type": { "type": "string", "enum": ["gallery"] },
              "properties": { "$ref": "#/components/schemas/viewPropertiesRequest" },
              "cover": {
                "oneOf": [
                  { "$ref": "#/components/schemas/viewCoverRequest" },
                  { "type": "null" }
                ]
              },
              "cover_size": {
                "type": ["string", "null"],
                "enum": ["small", "medium", "large", null],
                "description": "Card size — how large the cover image is on each card."
              },
              "cover_aspect": {
                "type": ["string", "null"],
                "enum": ["contain", "cover", null],
                "description": "`contain` fits the whole image, `cover` fills the card area and crops."
              },
              "card_layout": {
                "type": ["string", "null"],
                "enum": ["list", "compact", null],
                "description": "`list` shows full cards, `compact` is the condensed card layout."
              }
            }
          },
          {
            "type": "object",
            "title": "List",
            "required": ["type"],
            "properties": {
              "type": { "type": "string", "enum": ["list"] },
              "properties": { "$ref": "#/components/schemas/viewPropertiesRequest" }
            }
          },
          {
            "type": "object",
            "title": "Calendar",
            "required": ["type", "date_property_id"],
            "properties": {
              "type": { "type": "string", "enum": ["calendar"] },
              "date_property_id": { "type": "string", "description": "Date property that positions each item on the calendar." },
              "properties": { "$ref": "#/components/schemas/viewPropertiesRequest" },
              "view_range": { "type": ["string", "null"], "enum": ["week", "month", null], "description": "Default range shown." },
              "show_weekends": { "type": ["boolean", "null"], "description": "Whether weekend days are shown." }
            }
          },
          {
            "type": "object",
            "title": "Timeline",
            "required": ["type", "date_property_id"],
            "properties": {
              "type": { "type": "string", "enum": ["timeline"] },
              "date_property_id": { "type": "string", "description": "Date property giving each item its start." },
              "end_date_property_id": { "type": ["string", "null"], "description": "Date property giving each item its end. `null` clears it." },
              "properties": { "$ref": "#/components/schemas/viewPropertiesRequest" },
              "show_table": { "type": ["boolean", "null"], "description": "Whether the table panel is shown beside the timeline." },
              "table_properties": { "$ref": "#/components/schemas/viewPropertiesRequest" },
              "preference": {
                "description": "Zoom and centring of the timeline.",
                "oneOf": [
                  {
                    "type": "object",
                    "required": ["zoom_level"],
                    "properties": {
                      "zoom_level": {
                        "type": "string",
                        "enum": ["hours", "day", "week", "bi_week", "month", "quarter", "year", "5_years"]
                      },
                      "center_timestamp": { "type": "integer", "description": "Milliseconds since the epoch to centre the timeline on." }
                    }
                  },
                  { "type": "null" }
                ]
              },
              "arrows_by": {
                "description": "Relation property drawn as dependency arrows. `{\"property_id\": null}` or `null` disables arrows.",
                "oneOf": [
                  {
                    "type": "object",
                    "properties": { "property_id": { "type": ["string", "null"] } }
                  },
                  { "type": "null" }
                ]
              },
              "color_by": { "type": ["boolean", "null"], "description": "Whether items are coloured by a property." }
            }
          },
          {
            "type": "object",
            "title": "Map",
            "required": ["type"],
            "properties": {
              "type": { "type": "string", "enum": ["map"] },
              "height": { "type": ["string", "null"], "enum": ["small", "medium", "large", "extra_large", null] },
              "map_by": { "type": ["string", "null"], "description": "Location property used to place each pin." },
              "properties": { "$ref": "#/components/schemas/viewPropertiesRequest" }
            }
          },
          {
            "type": "object",
            "title": "Form",
            "required": ["type"],
            "properties": {
              "type": { "type": "string", "enum": ["form"] },
              "is_form_closed": { "type": ["boolean", "null"], "description": "Whether the form has stopped accepting submissions." },
              "anonymous_submissions": { "type": ["boolean", "null"], "description": "Whether people who are not logged in may submit." },
              "submission_permissions": {
                "type": ["string", "null"],
                "enum": ["none", "comment_only", "reader", "read_and_write", "editor", null],
                "description": "What access the submitter keeps on the page their submission creates."
              }
            }
          },
          {
            "type": "object",
            "title": "Chart",
            "required": ["type", "chart_type"],
            "description": "Charts read data either as grouped data (`x_axis` + `y_axis`) or as raw property values (`x_axis_property_id` + `y_axis_property_id`); use one pair or the other.",
            "properties": {
              "type": { "type": "string", "enum": ["chart"] },
              "chart_type": {
                "type": "string",
                "enum": ["column", "bar", "line", "donut", "number"],
                "description": "`column` is vertical bars, `bar` horizontal, `number` a single aggregated value."
              },
              "x_axis": {
                "description": "Grouping for the x axis, same shape as `group_by`. `null` clears it.",
                "oneOf": [
                  { "$ref": "#/components/schemas/viewGroupByRequest" },
                  { "type": "null" }
                ]
              },
              "y_axis": {
                "oneOf": [
                  { "$ref": "#/components/schemas/viewChartAggregationRequest" },
                  { "type": "null" }
                ]
              },
              "x_axis_property_id": { "type": ["string", "null"], "description": "Property supplying x values in raw-results mode." },
              "y_axis_property_id": { "type": ["string", "null"], "description": "Property supplying y values in raw-results mode." },
              "value": {
                "description": "The aggregation a `number` chart displays.",
                "oneOf": [
                  { "$ref": "#/components/schemas/viewChartAggregationRequest" },
                  { "type": "null" }
                ]
              },
              "stack_by": {
                "description": "Second grouping for stacked or side-by-side column, bar and line charts.",
                "oneOf": [
                  { "$ref": "#/components/schemas/viewGroupByRequest" },
                  { "type": "null" }
                ]
              },
              "sort": { "type": "string", "enum": ["manual", "x_ascending", "x_descending", "y_ascending", "y_descending"] },
              "color_theme": {
                "type": "string",
                "enum": ["gray", "blue", "yellow", "green", "purple", "teal", "orange", "pink", "red", "auto", "colorful"]
              },
              "height": { "type": "string", "enum": ["small", "medium", "large", "extra_large"] },
              "hide_empty_groups": { "type": "boolean", "description": "Whether x-axis groups with no data are hidden." },
              "legend_position": { "type": "string", "enum": ["off", "bottom", "side"] },
              "show_data_labels": { "type": "boolean" },
              "color_by_value": { "type": "boolean", "description": "Bar and column charts only: shade each bar along a gradient by its value." },
              "axis_labels": { "type": "string", "enum": ["none", "x_axis", "y_axis", "both"] },
              "grid_lines": { "type": "string", "enum": ["none", "horizontal", "vertical", "both"] },
              "y_axis_min": { "type": ["number", "null"] },
              "y_axis_max": { "type": ["number", "null"] },
              "caption": { "type": ["string", "null"], "description": "Text shown under the chart." },
              "cumulative": { "type": "boolean", "description": "Line charts only." },
              "smooth_line": { "type": "boolean", "description": "Line charts only." },
              "hide_line_fill_area": { "type": "boolean", "description": "Line charts only." },
              "group_style": {
                "type": "string",
                "enum": ["normal", "percent", "side_by_side"],
                "description": "Bar and column charts only: `normal` stacks, `percent` normalises to 100%, `side_by_side` places bars next to each other."
              },
              "donut_labels": { "type": "string", "enum": ["none", "value", "name", "name_and_value"], "description": "Donut charts only." },
              "hide_title": { "type": "boolean", "description": "Number charts only." },
              "reference_lines": {
                "type": ["array", "null"],
                "description": "Horizontal lines drawn at fixed y values for comparison.",
                "items": {
                  "type": "object",
                  "required": ["value", "label", "color", "dash_style"],
                  "properties": {
                    "id": { "type": "string", "description": "Generated when omitted." },
                    "value": { "type": "number" },
                    "label": { "type": "string" },
                    "color": {
                      "type": "string",
                      "enum": ["gray", "lightgray", "brown", "yellow", "orange", "green", "blue", "purple", "pink", "red"]
                    },
                    "dash_style": { "type": "string", "enum": ["solid", "dash"] }
                  }
                }
              }
            }
          },
          {
            "type": "object",
            "title": "Dashboard",
            "required": ["type"],
            "description": "A dashboard's layout is read-only: it is returned when retrieving the view, but cannot be set here. Build a dashboard by creating widget views against it — call create-a-view with `view_id` set to the dashboard's ID.",
            "properties": {
              "type": { "type": "string", "enum": ["dashboard"] }
            }
          }
        ]
      },
      "richTextRequest": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "object",
            "required": [
              "content"
            ],
            "properties": {
              "content": {
                "type": "string"
              },
              "link": {
                "type": [
                  "object",
                  "null"
                ],
                "properties": {
                  "url": {
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ]
              }
            },
            "additionalProperties": false
          },
          "type": {
            "enum": [
              "text"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "pageIdParentRequest": {
        "type": "object",
        "properties": {
          "page_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "page_id"
        ]
      },
      "dataSourceIdParentRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "database_id"
          },
          "database_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "database_id"
        ]
      },
      "parentRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/pageIdParentRequest"
          },
          {
            "$ref": "#/components/schemas/dataSourceIdParentRequest"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "const": "workspace"
              }
            },
            "required": [
              "type"
            ]
          }
        ]
      },
      "movePageParentRequest": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "const": "page_id"
              },
              "page_id": {
                "type": "string",
                "format": "uuid"
              }
            },
            "required": [
              "type",
              "page_id"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "const": "database_id"
              },
              "database_id": {
                "type": "string",
                "format": "uuid"
              }
            },
            "required": [
              "type",
              "database_id"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "const": "workspace"
              }
            },
            "required": [
              "type"
            ]
          }
        ]
      },
      "sortObject": {
        "type": "object",
        "required": [
          "property",
          "direction"
        ],
        "properties": {
          "property": {
            "type": "string"
          },
          "direction": {
            "enum": [
              "ascending",
              "descending"
            ],
            "type": "string"
          }
        }
      },
      "blockTextUpdateRequest": {
        "type": "object",
        "description": "The new text for a block that holds text. Used by API-update-a-block under the key naming the block's own type.",
        "properties": {
          "rich_text": {
            "type": "array",
            "description": "The block's new text, as one or more runs. It replaces the block's existing text completely, so send the whole corrected line and not just the changed part — an empty array clears the block's text.",
            "items": {
              "$ref": "#/components/schemas/richTextRequest"
            },
            "maxItems": 100
          }
        },
        "required": [
          "rich_text"
        ],
        "additionalProperties": false
      },
      "toDoBlockUpdateRequest": {
        "type": "object",
        "description": "The new state of a to-do block. Send `rich_text`, `checked`, or both — whichever is left out keeps its current value.",
        "properties": {
          "rich_text": {
            "type": "array",
            "description": "The to-do's new text, replacing the existing text completely. Leave it out to tick or untick the box without touching the wording.",
            "items": {
              "$ref": "#/components/schemas/richTextRequest"
            },
            "maxItems": 100
          },
          "checked": {
            "type": "boolean",
            "description": "Whether the checkbox is ticked."
          }
        },
        "additionalProperties": false
      },
      "paragraphBlockRequest": {
        "type": "object",
        "properties": {
          "paragraph": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "paragraph"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "bulletedListItemBlockRequest": {
        "type": "object",
        "properties": {
          "bulleted_list_item": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "type": {
            "enum": [
              "bulleted_list_item"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "imageBlockRequest": {
        "description": "An image block. Use `external` for a publicly reachable URL, or `file_upload` for bytes uploaded via API-create-a-file-upload + API-send-a-file-upload.",
        "type": "object",
        "properties": {
          "image": {
            "type": "object",
            "properties": {
              "type": {
                "enum": [
                  "external",
                  "file_upload"
                ],
                "type": "string"
              },
              "external": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "Publicly reachable image URL. Notion fetches it, so it must not require authentication."
                  }
                },
                "required": [
                  "url"
                ],
                "additionalProperties": false
              },
              "file_upload": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The `id` from API-create-a-file-upload, after the bytes were sent with API-send-a-file-upload."
                  }
                },
                "required": [
                  "id"
                ],
                "additionalProperties": false
              },
              "caption": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false
          },
          "type": {
            "enum": [
              "image"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "fileBlockRequest": {
        "description": "A file attachment block (PDF, zip, ...). Same two sources as an image block.",
        "type": "object",
        "properties": {
          "file": {
            "type": "object",
            "properties": {
              "type": {
                "enum": [
                  "external",
                  "file_upload"
                ],
                "type": "string"
              },
              "external": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "Publicly reachable file URL."
                  }
                },
                "required": [
                  "url"
                ],
                "additionalProperties": false
              },
              "file_upload": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The `id` from API-create-a-file-upload, after the bytes were sent with API-send-a-file-upload."
                  }
                },
                "required": [
                  "id"
                ],
                "additionalProperties": false
              },
              "name": {
                "type": "string",
                "description": "Display name for the attachment."
              },
              "caption": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false
          },
          "type": {
            "enum": [
              "file"
            ],
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "blockObjectRequest": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/paragraphBlockRequest"
          },
          {
            "$ref": "#/components/schemas/bulletedListItemBlockRequest"
          },
          {
            "$ref": "#/components/schemas/imageBlockRequest"
          },
          {
            "$ref": "#/components/schemas/fileBlockRequest"
          }
        ]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Databases",
      "description": "Database endpoints for retrieving database metadata"
    },
    {
      "name": "Data sources",
      "description": "Data source endpoints for querying and managing databases"
    },
    {
      "name": "Pages",
      "description": "Page endpoints for creating and managing pages"
    },
    {
      "name": "Blocks",
      "description": "Block endpoints for managing page content"
    },
    {
      "name": "Users",
      "description": "User endpoints"
    },
    {
      "name": "Search",
      "description": "Search endpoints"
    },
    {
      "name": "Comments",
      "description": "Comment endpoints"
    },
    {
      "name": "Views",
      "description": "View endpoints for reading and configuring database views — layout, grouping, sorts, filters and property visibility"
    }
  ],
  "paths": {
    "/v1/views": {
      "get": {
        "summary": "List views",
        "description": "List the views of a database, or every view that reads a given data source. Pass `database_id` for the views shown as tabs on one database, or `data_source_id` to also pick up linked views of that data source living on other pages across the workspace. Results only include views the integration can access. Each entry is a reference carrying just `object` and `id` — call Retrieve a view for a view's filter, sorts and layout.",
        "operationId": "list-views",
        "tags": ["Views"],
        "parameters": [
          {
            "name": "database_id",
            "in": "query",
            "description": "The database whose views to list. This is the database container's ID, not a data source ID. At least one of `database_id` or `data_source_id` is required.",
            "schema": { "type": "string" }
          },
          {
            "name": "data_source_id",
            "in": "query",
            "description": "List every view reading this data source, including linked views on other pages. At least one of `database_id` or `data_source_id` is required.",
            "schema": { "type": "string" }
          },
          {
            "name": "start_cursor",
            "in": "query",
            "description": "Return the page of results starting after this cursor.",
            "schema": { "type": "string" }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items to return. Maximum 100, default 100.",
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "default": "2026-03-11" },
            "description": "The Notion API version. The view endpoints require 2025-09-03 or later; this server pins 2026-03-11, the version Notion's own view documentation is written against."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": { "type": "string", "example": "error" },
                    "status": { "type": "integer", "example": 400 },
                    "code": { "type": "string" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "post": {
        "summary": "Create a view",
        "description": "Create a view over a data source: a table, board, calendar, timeline, gallery, list, form, chart, map or dashboard, with its own filter, sorts and layout. Exactly one of `database_id`, `view_id` or `create_database` must be given — `database_id` adds a tab to an existing database, `view_id` adds a widget to an existing dashboard, and `create_database` puts a linked view of an existing data source on a page. Note that `database_id` and `data_source_id` are different IDs and both are needed: retrieve the database to find its `data_sources` array. `configuration.type` must equal the view's `type`, and a board view must carry a `group_by`.",
        "operationId": "create-a-view",
        "tags": ["Views"],
        "parameters": [
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "default": "2026-03-11" },
            "description": "The Notion API version. The view endpoints require 2025-09-03 or later; this server pins 2026-03-11, the version Notion's own view documentation is written against."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["data_source_id", "name", "type"],
                "properties": {
                  "data_source_id": {
                    "type": "string",
                    "description": "The data source the view reads. Found in the `data_sources` array of the database object — not the same as `database_id`."
                  },
                  "name": { "type": "string", "description": "Display name of the view, shown on its tab." },
                  "type": {
                    "type": "string",
                    "enum": ["table", "board", "list", "calendar", "timeline", "gallery", "form", "chart", "map", "dashboard"],
                    "description": "The view's layout. `configuration.type` must match this."
                  },
                  "database_id": {
                    "type": "string",
                    "description": "Create the view as a tab on this database. Mutually exclusive with `view_id` and `create_database`."
                  },
                  "view_id": {
                    "type": "string",
                    "description": "Add the view as a widget to this dashboard view. Mutually exclusive with `database_id` and `create_database`."
                  },
                  "create_database": {
                    "type": "object",
                    "description": "Put a linked view of an existing data source on a page, creating a lightweight database container there. Unlike creating a database, no new schema is made — the view points at a data source another database owns, so the integration needs access to both. Mutually exclusive with `database_id` and `view_id`.",
                    "required": ["parent"],
                    "properties": {
                      "parent": {
                        "type": "object",
                        "description": "The page to place the linked database on, as `{\"type\": \"page_id\", \"page_id\": \"...\"}`.",
                        "required": ["page_id"],
                        "properties": {
                          "type": { "type": "string", "enum": ["page_id"] },
                          "page_id": { "type": "string" }
                        }
                      },
                      "position": {
                        "type": "object",
                        "description": "Where in the page the database block goes. `{\"type\": \"after_block\", \"block_id\": \"...\"}` places it after a block that is a direct child of the parent page. Defaults to the end of the page.",
                        "properties": {
                          "type": { "type": "string", "enum": ["after_block"] },
                          "block_id": { "type": "string" }
                        }
                      }
                    }
                  },
                  "filter": { "$ref": "#/components/schemas/viewFilterRequest" },
                  "sorts": {
                    "type": "array",
                    "description": "Sort rules for the view's rows.",
                    "items": { "$ref": "#/components/schemas/viewSortRequest" }
                  },
                  "quick_filters": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Filters offered in the view's filter bar, as a map from property name or ID to a filter condition written without its `property` field — for example `{\"Status\": {\"status\": {\"equals\": \"In progress\"}}}`. A people filter accepts `\"me\"` as its value, so \"assigned to me\" needs no user ID."
                  },
                  "configuration": { "$ref": "#/components/schemas/viewConfigurationRequest" },
                  "position": {
                    "type": "object",
                    "description": "Where the new tab sits in the view bar. `{\"type\": \"start\"}`, `{\"type\": \"end\"}` (the default), or `{\"type\": \"after_view\", \"view_id\": \"...\"}`. Only valid together with `database_id`.",
                    "required": ["type"],
                    "properties": {
                      "type": { "type": "string", "enum": ["start", "end", "after_view"] },
                      "view_id": { "type": "string", "description": "Required when `type` is `after_view`." }
                    }
                  },
                  "placement": {
                    "type": "object",
                    "description": "Where the new widget sits in a dashboard. `{\"type\": \"new_row\"}` appends a row, `{\"type\": \"new_row\", \"row_index\": 0}` inserts one, `{\"type\": \"existing_row\", \"row_index\": 2}` joins an existing row (maximum 4 widgets per row). Only valid together with `view_id`.",
                    "required": ["type"],
                    "properties": {
                      "type": { "type": "string", "enum": ["new_row", "existing_row"] },
                      "row_index": { "type": "integer", "minimum": 0 }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": { "type": "string", "example": "error" },
                    "status": { "type": "integer", "example": 400 },
                    "code": { "type": "string" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/views/{view_id}": {
      "get": {
        "summary": "Retrieve a view",
        "description": "Retrieve one view in full: its name, type, filter, sorts, quick filters and layout configuration. This is the only way to read a view's settings — List views returns bare `id` references. Retrieving a dashboard returns its layout, the rows of widgets with their view IDs, widths and row indexes.",
        "operationId": "retrieve-a-view",
        "tags": ["Views"],
        "parameters": [
          {
            "name": "view_id",
            "in": "path",
            "required": true,
            "description": "Identifier for a Notion view.",
            "schema": { "type": "string" }
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "default": "2026-03-11" },
            "description": "The Notion API version. The view endpoints require 2025-09-03 or later; this server pins 2026-03-11, the version Notion's own view documentation is written against."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": { "type": "string", "example": "error" },
                    "status": { "type": "integer", "example": 400 },
                    "code": { "type": "string" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "patch": {
        "summary": "Update a view",
        "description": "Change a view's name, filter, sorts, quick filters or layout. Every field is optional and anything omitted is left as it was, so a partial update is safe. To remove a setting, send it as `null` — `filter: null` drops the filter, `configuration: {\"type\": \"table\", \"group_by\": null}` ungroups a table. Sending a `quick_filters` entry replaces just that one and leaves the rest; setting an entry to `null` removes it. `configuration.type` must match the view's existing type. Note that re-applying grouping resets `hide_empty_groups` to true, so set it explicitly to false in the same call if empty groups must stay visible.",
        "operationId": "update-a-view",
        "tags": ["Views"],
        "parameters": [
          {
            "name": "view_id",
            "in": "path",
            "required": true,
            "description": "Identifier for a Notion view.",
            "schema": { "type": "string" }
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "default": "2026-03-11" },
            "description": "The Notion API version. The view endpoints require 2025-09-03 or later; this server pins 2026-03-11, the version Notion's own view documentation is written against."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "description": "New display name for the view." },
                  "filter": {
                    "description": "Replaces the view's filter. `null` clears it.",
                    "oneOf": [
                      { "$ref": "#/components/schemas/viewFilterRequest" },
                      { "type": "null" }
                    ]
                  },
                  "sorts": {
                    "type": ["array", "null"],
                    "description": "Replaces the view's sort rules. `null` clears them.",
                    "items": { "$ref": "#/components/schemas/viewSortRequest" }
                  },
                  "quick_filters": {
                    "type": ["object", "null"],
                    "additionalProperties": true,
                    "description": "Adds or replaces individual entries in the filter bar, keyed by property name or ID; entries you do not mention are kept. Set one entry to `null` to remove it, or the whole object to `null` to clear the bar."
                  },
                  "configuration": { "$ref": "#/components/schemas/viewConfigurationRequest" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": { "type": "string", "example": "error" },
                    "status": { "type": "integer", "example": 400 },
                    "code": { "type": "string" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "delete": {
        "summary": "Delete a view",
        "description": "Permanently remove a view from its database. This cannot be undone through the API. A database must keep at least one view, so deleting the last one fails with a validation error — to get rid of the database itself, set `in_trash` on the database instead. The response is a partial view object with only `object`, `id`, `parent` and `type`, since the view no longer exists to describe.",
        "operationId": "delete-a-view",
        "tags": ["Views"],
        "parameters": [
          {
            "name": "view_id",
            "in": "path",
            "required": true,
            "description": "Identifier for a Notion view.",
            "schema": { "type": "string" }
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "default": "2026-03-11" },
            "description": "The Notion API version. The view endpoints require 2025-09-03 or later; this server pins 2026-03-11, the version Notion's own view documentation is written against."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": { "type": "string", "example": "error" },
                    "status": { "type": "integer", "example": 400 },
                    "code": { "type": "string" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/views/{view_id}/queries": {
      "post": {
        "summary": "Create a view query",
        "description": "Run a view's saved filter and sort and get the first page of matching pages back, so you see what a person looking at that view sees without rebuilding its filter logic yourself. The response carries the results plus a `query_id`, `total_count` and `has_more`; use Get view query results with that `query_id` to page through the rest. The cached result set expires on its own after about 15 minutes.",
        "operationId": "create-a-view-query",
        "tags": ["Views"],
        "parameters": [
          {
            "name": "view_id",
            "in": "path",
            "required": true,
            "description": "Identifier for a Notion view.",
            "schema": { "type": "string" }
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "default": "2026-03-11" },
            "description": "The Notion API version. The view endpoints require 2025-09-03 or later; this server pins 2026-03-11, the version Notion's own view documentation is written against."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page_size": {
                    "type": "integer",
                    "format": "int32",
                    "description": "How many results to return in this first page. Maximum 100."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": { "type": "string", "example": "error" },
                    "status": { "type": "integer", "example": 400 },
                    "code": { "type": "string" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/views/{view_id}/queries/{query_id}": {
      "get": {
        "summary": "Get view query results",
        "description": "Fetch a further page from a result set already produced by Create a view query, using the `query_id` it returned. Pass the previous response's `next_cursor` as `start_cursor`. The cached set expires after about 15 minutes, after which the query has to be created again.",
        "operationId": "get-view-query-results",
        "tags": ["Views"],
        "parameters": [
          {
            "name": "view_id",
            "in": "path",
            "required": true,
            "description": "Identifier for a Notion view.",
            "schema": { "type": "string" }
          },
          {
            "name": "query_id",
            "in": "path",
            "required": true,
            "description": "The `id` returned by Create a view query.",
            "schema": { "type": "string" }
          },
          {
            "name": "start_cursor",
            "in": "query",
            "description": "Continue from this cursor, taken from the previous response's `next_cursor`.",
            "schema": { "type": "string" }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "How many results to return. Maximum 100.",
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "default": "2026-03-11" },
            "description": "The Notion API version. The view endpoints require 2025-09-03 or later; this server pins 2026-03-11, the version Notion's own view documentation is written against."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": { "type": "string", "example": "error" },
                    "status": { "type": "integer", "example": 400 },
                    "code": { "type": "string" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "delete": {
        "summary": "Delete a view query",
        "description": "Release a cached view query once you have finished paging through it. Optional housekeeping — a query expires by itself after about 15 minutes — but worth doing when queries are run often. It deletes only the cached result set; the view and its pages are untouched.",
        "operationId": "delete-a-view-query",
        "tags": ["Views"],
        "parameters": [
          {
            "name": "view_id",
            "in": "path",
            "required": true,
            "description": "Identifier for a Notion view.",
            "schema": { "type": "string" }
          },
          {
            "name": "query_id",
            "in": "path",
            "required": true,
            "description": "The `id` returned by Create a view query.",
            "schema": { "type": "string" }
          },
          {
            "name": "Notion-Version",
            "in": "header",
            "required": true,
            "schema": { "type": "string", "default": "2026-03-11" },
            "description": "The Notion API version. The view endpoints require 2025-09-03 or later; this server pins 2026-03-11, the version Notion's own view documentation is written against."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": { "type": "string", "example": "error" },
                    "status": { "type": "integer", "example": 400 },
                    "code": { "type": "string" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/file_uploads": {
      "post": {
        "summary": "Create a file upload",
        "description": "Step 1 of attaching a file to Notion. Reserves an upload and returns an `id`. Then call `API-send-a-file-upload` with that id to transfer the bytes, and finally reference it from a block or property as `{\"type\": \"file_upload\", \"file_upload\": {\"id\": \"<id>\"}}`. Single-part uploads are limited to 20MB. An upload must be attached within one hour or it expires.",
        "operationId": "create-a-file-upload",
        "parameters": [
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string",
                    "description": "Name of the file including its extension, e.g. 'screenshot.png'. Determines the name shown in Notion. Required when mode is 'external_url'."
                  },
                  "content_type": {
                    "type": "string",
                    "description": "MIME type, e.g. 'image/png'. Inferred from the filename when omitted."
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "single_part",
                      "multi_part",
                      "external_url"
                    ],
                    "description": "'single_part' (default, up to 20MB), 'multi_part' for larger files, or 'external_url' to have Notion import a publicly reachable file itself.",
                    "default": "single_part"
                  },
                  "external_url": {
                    "type": "string",
                    "description": "Only with mode 'external_url'. HTTPS URL of a publicly accessible file for Notion to import. The import is asynchronous: the upload starts as 'pending', so poll API-retrieve-a-file-upload until it reports 'uploaded' before attaching it."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fileUploadObjectResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/file_uploads/{file_upload_id}/send": {
      "post": {
        "summary": "Send a file upload",
        "description": "Step 2: transfer the bytes for an upload created by `API-create-a-file-upload`. Because this server runs remotely and shares no filesystem with the caller, the `file` parameter accepts a data: URI, a bare base64 string, or an http(s) URL the server can fetch — a local path only works when running over stdio. Whichever form is used, the whole file travels in this one call as a single unbroken payload: contents produced in pieces must be joined before they are sent, and `content_length` is what proves none went missing.",
        "operationId": "send-a-file-upload",
        "parameters": [
          {
            "name": "file_upload_id",
            "in": "path",
            "description": "The `id` returned by API-create-a-file-upload.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File contents as a data: URI, a bare base64 string, or an http(s) URL to fetch. Send them as one continuous, unbroken string in a single call. Contents assembled in pieces — chunked reads, several tool calls, an encoder that emitted parts — must be joined first: a payload that lost a piece on the way still decodes cleanly and looks whole, so the loss is caught only by the `content_length` check, and only if you sent it."
                  },
                  "content_length": {
                    "type": "integer",
                    "description": "Size of the source file in bytes, before encoding. Always send it. Encoded contents can be cut short on the way here and still look well-formed, in which case Notion stores the fragment and reports success; this number is compared against what actually arrived and the upload is refused on any mismatch. Without it, a payload whose completeness cannot be established from its own bytes is refused rather than stored."
                  },
                  "filename": {
                    "type": "string",
                    "description": "Optional name for the multipart part; defaults to the create step's filename."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fileUploadObjectResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/file_uploads/{file_upload_id}": {
      "get": {
        "summary": "Retrieve a file upload",
        "description": "Check the status of a file upload ('pending', 'uploaded', 'expired', 'failed').",
        "operationId": "retrieve-a-file-upload",
        "parameters": [
          {
            "name": "file_upload_id",
            "in": "path",
            "description": "Identifier for a file upload.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fileUploadObjectResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/{user_id}": {
      "get": {
        "summary": "Retrieve a user",
        "description": "",
        "operationId": "get-user",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {}
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/users": {
      "get": {
        "summary": "List all users",
        "operationId": "get-users",
        "parameters": [
          {
            "name": "start_cursor",
            "in": "query",
            "description": "If supplied, this endpoint will return a page of results starting after the cursor provided. If not supplied, this endpoint will return the first page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items from the full list desired in the response. Maximum: 100",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {}
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/users/me": {
      "get": {
        "summary": "Retrieve your token's bot user",
        "description": "",
        "operationId": "get-self",
        "parameters": [
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "object": "user",
                      "id": "16d84278-ab0e-484c-9bdd-b35da3bd8905",
                      "name": "pied piper",
                      "avatar_url": null,
                      "type": "bot",
                      "bot": {
                        "owner": {
                          "type": "user",
                          "user": {
                            "object": "user",
                            "id": "5389a034-eb5c-47b5-8a9e-f79c99ef166c",
                            "name": "christine makenotion",
                            "avatar_url": null,
                            "type": "person",
                            "person": {
                              "email": "christine@makenotion.com"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "user"
                    },
                    "id": {
                      "type": "string",
                      "example": "16d84278-ab0e-484c-9bdd-b35da3bd8905"
                    },
                    "name": {
                      "type": "string",
                      "example": "pied piper"
                    },
                    "avatar_url": {},
                    "type": {
                      "type": "string",
                      "example": "bot"
                    },
                    "bot": {
                      "type": "object",
                      "properties": {
                        "owner": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "user"
                            },
                            "user": {
                              "type": "object",
                              "properties": {
                                "object": {
                                  "type": "string",
                                  "example": "user"
                                },
                                "id": {
                                  "type": "string",
                                  "example": "5389a034-eb5c-47b5-8a9e-f79c99ef166c"
                                },
                                "name": {
                                  "type": "string",
                                  "example": "christine makenotion"
                                },
                                "avatar_url": {},
                                "type": {
                                  "type": "string",
                                  "example": "person"
                                },
                                "person": {
                                  "type": "object",
                                  "properties": {
                                    "email": {
                                      "type": "string",
                                      "example": "christine@makenotion.com"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/search": {
      "post": {
        "summary": "Search by title",
        "description": "",
        "operationId": "post-search",
        "parameters": [
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The text that the API compares page and database titles against."
                  },
                  "sort": {
                    "type": "object",
                    "description": "A set of criteria, `direction` and `timestamp` keys, that orders the results. The **only** supported timestamp value is `\"last_edited_time\"`. Supported `direction` values are `\"ascending\"` and `\"descending\"`. If `sort` is not provided, then the most recently edited results are returned first.",
                    "properties": {
                      "direction": {
                        "type": "string",
                        "description": "The direction to sort. Possible values include `ascending` and `descending`."
                      },
                      "timestamp": {
                        "type": "string",
                        "description": "The name of the timestamp to sort against. Possible values include `last_edited_time`."
                      }
                    }
                  },
                  "filter": {
                    "type": "object",
                    "description": "A set of criteria, `value` and `property` keys, that limits the results to either only pages or only data sources. Possible `value` values are `\"page\"` or `\"data_source\"`. The only supported `property` value is `\"object\"`.",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "The value of the property to filter the results by.  Possible values for object type include `page` or `data_source`.  **Limitation**: Currently the only filter allowed is `object` which will filter by type of object (either `page` or `data_source`)",
                        "enum": [
                          "page",
                          "data_source"
                        ]
                      },
                      "property": {
                        "type": "string",
                        "description": "The name of the property to filter by. Currently the only property you can filter by is the object type.  Possible values include `object`.   Limitation: Currently the only filter allowed is `object` which will filter by type of object (either `page` or `data_source`)"
                      }
                    }
                  },
                  "start_cursor": {
                    "type": "string",
                    "description": "A `cursor` value returned in a previous response that If supplied, limits the response to results starting after the `cursor`. If not supplied, then the first page of results is returned. Refer to [pagination](https://developers.notion.com/reference/intro#pagination) for more details."
                  },
                  "page_size": {
                    "type": "integer",
                    "description": "The number of items from the full list to include in the response. Maximum: `100`.",
                    "default": 100,
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/blocks/{block_id}/children": {
      "get": {
        "summary": "Retrieve block children",
        "description": "",
        "operationId": "get-block-children",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a [block](ref:block)",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "start_cursor",
            "in": "query",
            "description": "If supplied, this endpoint will return a page of results starting after the cursor provided. If not supplied, this endpoint will return the first page of results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items from the full list desired in the response. Maximum: 100",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "patch": {
        "summary": "Append block children",
        "description": "",
        "operationId": "patch-block-children",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a [block](ref:block). Also accepts a [page](ref:page) ID.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "children"
                ],
                "properties": {
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectRequest"
                    },
                    "description": "Child content to append to a container block as an array of [block objects](ref:block)"
                  },
                  "after": {
                    "type": "string",
                    "description": "The ID of the existing block that the new block should be appended after."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/paginatedListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/blocks/{block_id}": {
      "get": {
        "summary": "Retrieve a block",
        "description": "",
        "operationId": "retrieve-a-block",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a Notion block",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/blockObjectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "error"
                    },
                    "status": {
                      "type": "integer",
                      "example": 400
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "patch": {
        "summary": "Correct the text of a block that is already on a page. Pass the one property named after the block's own type — `paragraph`, `bulleted_list_item`, `to_do`, `heading_1` and so on — carrying the new `rich_text`. The new `rich_text` replaces the block's existing text entirely, so send the whole corrected line and not just the changed part. Notion only lets an existing block's text (and `checked`, on a `to_do`) be updated; a block cannot be turned into another type this way. Editing in place keeps the block's id, its position on the page and any comments anchored to it — appending a corrected copy and archiving the old one does not.",
        "description": "Send exactly one block-type property. It goes at the top level of the request body, beside `archived`, in the same shape API-patch-block-children uses for a new block: `{\"paragraph\": {\"rich_text\": [{\"text\": {\"content\": \"…\"}}]}}`. There is no wrapper object around it — an earlier version of this spec had one, and Notion answered every such call with a validation error naming each block type as undefined.",
        "operationId": "update-a-block",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Identifier for a Notion block",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "$ref": "#/components/parameters/notionVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "The block's new content. Send the single property whose name matches the block's existing type — retrieve the block first with API-retrieve-a-block if the type is unknown. A key that names a different type is rejected with a 400 `validation_error` reading \"Block type mismatch\", because a block cannot be changed into another type; to replace a block with one of another type, append the new block with API-patch-block-children and archive the old one.",
                "properties": {
                  "paragraph": {
                    "$ref": "#/components/schemas/blockTextUpdateRequest"
                  },
                  "heading_1": {
                    "$ref": "#/components/schemas/blockTextUpdateRequest"
                  },
                  "heading_2": {
[...]
